.section-books {

	.options li {
			display: inline;
			white-space:nowrap;
				}
	.books-wrap {
		min-height: 400px;
	}	
	.books {
		margin: 0 auto;
		.book-image {
			margin: 10px 5px;
	    	position: relative;
	    	img {
			    max-width: 100%;
			    display: block;
			    position: relative;
			}
		}
	}	

	.papers {
	  background-color: #fff5ea;
	  border-left: 4px solid #ffddb7;
	  height: 245px;
	  margin: 5px;
	  padding: 20px;
	  width: 294px;
	  -webkit-box-shadow: 
	        1px 1px   0 rgba(0,   0,   0,   0.100), 
	        3px 3px   0 rgba(255, 255, 255, 1.0), 
	        4px 4px   0 rgba(0,   0,   0,   0.125), 
	        6px 6px   0 rgba(255, 255, 255, 1.0),  
	        7px 7px   0 rgba(0,   0,   0,   0.150), 
	        9px 9px   0 rgba(255, 255, 255, 1.0),  
	        10px 10px 0 rgba(0,   0,   0,   0.175),
	        12px 12px   0 rgba(255, 255, 255, 1.0),  
	        13px 13px 0 rgba(0,   0,   0,   0.2);
	  -moz-box-shadow: 
	        1px 1px   0 rgba(0,   0,   0,   0.100), 
	        3px 3px   0 rgba(255, 255, 255, 1.0), 
	        4px 4px   0 rgba(0,   0,   0,   0.125), 
	        6px 6px   0 rgba(255, 255, 255, 1.0),  
	        7px 7px   0 rgba(0,   0,   0,   0.150), 
	        9px 9px   0 rgba(255, 255, 255, 1.0),  
	        10px 10px 0 rgba(0,   0,   0,   0.175),
	        12px 12px   0 rgba(255, 255, 255, 1.0),  
	        13px 13px 0 rgba(0,   0,   0,   0.2);
	  box-shadow: 
	        1px 1px   0 rgba(0,   0,   0,   0.100), 
	        3px 3px   0 rgba(255, 255, 255, 1.0), 
	        4px 4px   0 rgba(0,   0,   0,   0.125), 
	        6px 6px   0 rgba(255, 255, 255, 1.0),  
	        7px 7px   0 rgba(0,   0,   0,   0.150), 
	        9px 9px   0 rgba(255, 255, 255, 1.0),  
	        10px 10px 0 rgba(0,   0,   0,   0.175),
	        12px 12px   0 rgba(255, 255, 255, 1.0),  
	        13px 13px 0 rgba(0,   0,   0,   0.2);
	    
	}

	.papers2 {
	  background-color: #fff5ea;
	  border-left: 4px solid #ffddb7;
	  height: 245px;
	  margin: 5px;
	  padding: 20px;
	  width: 176px;
	   -webkit-box-shadow: 
	        1px 1px   0 rgba(0,   0,   0,   0.100), 
	        3px 3px   0 rgba(255, 255, 255, 1.0), 
	        4px 4px   0 rgba(0,   0,   0,   0.125), 
	        6px 6px   0 rgba(255, 255, 255, 1.0),  
	        7px 7px   0 rgba(0,   0,   0,   0.150), 
	        9px 9px   0 rgba(255, 255, 255, 1.0),  
	        10px 10px 0 rgba(0,   0,   0,   0.175),
	        12px 12px   0 rgba(255, 255, 255, 1.0),  
	        13px 13px 0 rgba(0,   0,   0,   0.2);
	  -moz-box-shadow: 
	        1px 1px   0 rgba(0,   0,   0,   0.100), 
	        3px 3px   0 rgba(255, 255, 255, 1.0), 
	        4px 4px   0 rgba(0,   0,   0,   0.125), 
	        6px 6px   0 rgba(255, 255, 255, 1.0),  
	        7px 7px   0 rgba(0,   0,   0,   0.150), 
	        9px 9px   0 rgba(255, 255, 255, 1.0),  
	        10px 10px 0 rgba(0,   0,   0,   0.175),
	        12px 12px   0 rgba(255, 255, 255, 1.0),  
	        13px 13px 0 rgba(0,   0,   0,   0.2);
	  box-shadow: 
	        1px 1px   0 rgba(0,   0,   0,   0.100), 
	        3px 3px   0 rgba(255, 255, 255, 1.0), 
	        4px 4px   0 rgba(0,   0,   0,   0.125), 
	        6px 6px   0 rgba(255, 255, 255, 1.0),  
	        7px 7px   0 rgba(0,   0,   0,   0.150), 
	        9px 9px   0 rgba(255, 255, 255, 1.0),  
	        10px 10px 0 rgba(0,   0,   0,   0.175),
	        12px 12px   0 rgba(255, 255, 255, 1.0),  
	        13px 13px 0 rgba(0,   0,   0,   0.2);
	    
	}

	.bottom-open {
		bottom: 10px;
		right: 10px;
		position: absolute;
	}

	.mosaic-block {
		a {
			color: @textColor;
		}
	}
	
		

/* Start: Recommended Isotope styles */
	
	/**** Isotope Filtering ****/
	
	.isotope-item {
	  z-index: 2;
	}
	
	.isotope-hidden.isotope-item {
	  pointer-events: none;
	  z-index: 1;
	}
	
	/**** Isotope CSS3 transitions ****/
	
	.isotope,
	.isotope .isotope-item {
	  -webkit-transition-duration: 0.8s;
	     -moz-transition-duration: 0.9s;
	      -ms-transition-duration: 0.9s;
	       -o-transition-duration: 0.9s;
	          transition-duration: 0.9s;
	}
	
	.isotope {
	
	-webkit-transition-timing-function: ease-in-out;
	  -webkit-transition-property: height, width;
	     -moz-transition-property: height, width;
	      -ms-transition-property: height, width;
	       -o-transition-property: height, width;
	          transition-property: height, width;
	}
	
	.isotope .isotope-item {
	  	
	  -webkit-transition-property: -webkit-transform, opacity;
	     -moz-transition-property:    -moz-transform, opacity;
	      -ms-transition-property:     -ms-transform, opacity;
	       -o-transition-property:      -o-transform, opacity;
	          transition-property:         transform, opacity;
	}
	
	/**** disabling Isotope CSS3 transitions ****/
	
	.isotope.no-transition,
	.isotope.no-transition .isotope-item,
	.isotope .isotope-item.no-transition {
	  -webkit-transition-duration: 0s;
	     -moz-transition-duration: 0s;
	      -ms-transition-duration: 0s;
	       -o-transition-duration: 0s;
	          transition-duration: 0s;
	}


	
	/* End: Recommended Isotope styles */
}